/* overlay code */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0.5;
  height: 100%;
  pointer-events:none;
  background-image: url(/assets/imgs/baseline-grid.gif);

  .container {
    height: 100%;
  }
  
}

.col {
  
  @include breakpoint($bp-tablet) {
    @include span(1 of 12);
  }
  
  height: 100%;
  
  .overlay & {
    outline: 1px solid #00f0e9;
    opacity:0.5;
  }
  
  &.four {
    @include breakpoint($bp-tablet) {
      @include span(4);
    }
  }
  
}

.col:nth-child(12) {
  @include breakpoint($bp-tablet) {
    @include span(1 omega);
  }
}

.overlay .horizontal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  & .row {
    content: '';
    @include trailing-border(1px, 12);
    border-color: #00f0e9;
    width: 100%
  }
  
}

a.toggle-grid {
  font-size: 0.8em;
  position: fixed;
  right: 1em;
  top: 0.5em;
  z-index: 999;
  background: none;
}